<header class="header">
    <div>
        <span class="nav-bar">
            <i data-feather="arrow-left" onclick="window.history.go(-1); return false;"></i>
        </span>
        <h1 class="title-color font-lg">Admin Pannel</h1>
    </div>
    <a href="/profile" class="ms-auto"> <img src="assets/images/avtars/avtar.png" alt="avatar" /></a>
</header>
<!-- Header End -->







<!-- Main Start -->
<main class="main-wrap mb-xl-large about-us">
   
    <!-- Banner End -->

    <!-- Who We Are Start -->
    <section class="intro p-tb-md">
        <div class="card-box">
            <ul>
                <li>
                    <a href="/features" class="font-md"><i data-feather="figma"></i>Features</a>
                    <div class="shape2 shape2-left">
                        <span class="circle">&nbsp;</span>
                        <span class="line"></span>
                        <span class="circle">&nbsp;</span>
                    </div>
                    <div class="shape2 shape2-right">
                        <span class="circle">&nbsp;</span>
                        <span class="line"></span>
                        <span class="circle">&nbsp;</span>
                    </div>
                </li>
                <li>
                    <a href="/userlist" class="font-md"><i data-feather="users"></i>List Users</a>
                    <div class="shape2 shape2-left">
                        <span class="circle">&nbsp;</span>
                        <span class="line"></span>
                        <span class="circle">&nbsp;</span>
                    </div>
                    <div class="shape2 shape2-right">
                        <span class="circle">&nbsp;</span>
                        <span class="line"></span>
                        <span class="circle">&nbsp;</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Who We Are End -->

</main>